In [1]:
import pandas as pd
from path import Path
from collections import Counter

df = pd.read_csv('Resources/cc_default.csv')
df.head()

   ID  ln_balance_limit  sex  education  marriage  age  default_next_month
0   1          9.903488    1          2         0   24                   1
1   2         11.695247    1          2         1   26                   1
2   3         11.407565    1          2         1   34                   0
3   4         10.819778    1          2         0   37                   0
4   5         10.819778    0          2         0   57                   0

In [12]:
# the id and default_next_month are filtered to create the features dataset
x_cols = [i for i in df.columns if i not in ('ID', 'default_next_month')]
X = df[x_cols]
y = df['default_next_month']

In [13]:
# split training and testing
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [14]:
# import SMOTEENN moduel and create instance of SMOTEENN 
from imblearn.combine import SMOTEENN
smote_enn = SMOTEENN(random_state=0)
X_resampled, y_resampled = smote_enn.fit_resample(X, y)

In [15]:
# we use LogisticRegression model to generate predictions
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [16]:
# confusion matrix
from sklearn.metrics import confusion_matrix
y_pred = model.predict(X_test)
confusion_matrix(y_test, y_pred)

array([[4905,  927],
       [1179,  489]])

In [17]:
# balanced_accuracy_score
from sklearn.metrics import balanced_accuracy_score
balanced_accuracy_score(y_test, y_pred)

0.5671074251709743

In [18]:
# finally we print the classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.81      0.84      0.29      0.82      0.50      0.26      5832
          1       0.35      0.29      0.84      0.32      0.50      0.23      1668

avg / total       0.70      0.72      0.42      0.71      0.50      0.25      7500